
.main-heading{
    /* background-color: rgb(211, 206, 206); */
    margin-bottom: -1rem;
    padding: 2rem;
}



.card1{
    margin: 2rem;
    
}

.card2{
    margin: 2rem;
}

.cardImage{
    border-radius: 20px;
    width: 90%;
}

.TextArea{
    background-color: rgb(238, 236, 236);
    /* border: 2px solid grey; */
    border-radius: 20px ;
    width: 50%;
}

.otherImage{
    position: relative;
    right: 45px;
    top: 45px;
    z-index: -1;
}

.otherImage2{
    position: relative;
    left: 45px;
    bottom: 85px;
    z-index: -1;
}